.app-ex-auth-login {
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(91, 105, 135, 0.22);
  padding: 24px 40px;
  width: 420px;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  border-radius: 24px;

  &--title {
    font-family: Epilogue;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -.5px;
  }
}