.app-ex-auth {
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(91, 105, 135, 0.22);
  padding: 12px 32px 16px 32px;
  width: 420px;
  box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
  border-radius: 24px;

  &--logo {
    text-align: center;
    img {
      max-width: 240px;
      margin: 24px auto 12px;
    }
    h1 {
      font-size: 16px;
      color: #7E8083;
      margin-bottom: 32px;
    }
  }
}