.scroll-v-server-table {
  .ant-table-content table {
    table-layout: auto !important;
  }
}

.overflow-server-table {
  .ant-table-content {
    overflow: auto;
  }
}

.server-table {
  .ant-table .ant-table-selection-col,
  .ant-table-small .ant-table-selection-column {
    width: 10px;
    min-width: 10px;
  }

  .ant-btn.ant-btn-sm.btn-only-icon {
    width: 18px;
    height: 18px;
  }
}

.server-table-header-filter {
  padding: 8px;

  .server-table-header-input {
    display: block;
    width: 180px;
  }
}
