.scroll-v-server-table {
  .ant-table-content table {
    table-layout: auto !important;
  }
}

.overflow-server-table {
  .ant-table-content {
    overflow: auto;
  }
}

.server-table {
  .ant-table .ant-table-selection-col,
  .ant-table-small .ant-table-selection-column {
    width: 28px;
    min-width: 28px;
  }

  .ant-btn.ant-btn-sm.btn-only-icon {
    width: 18px;
    height: 18px;
  }
}

.server-table-header-filter {
  padding: 8px;

  .server-table-header-input {
    display: block;
    width: 180px;
  }
}

.resize-col-server-table {
  .ant-table table > thead > tr > th.has-drag-icon {
    padding-right: 16px;
  }

  // .ant-table-header {
  //   table {
  //     width: auto;
  //     min-width: 100%;
  //   }
  // }

  // .ant-table-body {
  //   table {
  //     width: auto;
  //     min-width: 100%;
  //   }
  // }

  .drag-icon {
    position: absolute;
    top: 50%;
    right: 2px;
    z-index: 1;
    color: @table-header-icon-color;
    transform: translateY(-50%);
    cursor: col-resize;
    transition: color @animation-duration-slow ease;

    > div {
      display: inline-block;
    }

    .anticon {
      cursor: col-resize;
    }

    &:hover {
      color: @primary-color;
    }
  }
}

.app-ex-server-table-dragging-icon {
  position: relative;
  display: inline-block;
  color: @primary-color;
}

.app-ex-server-table-resizer-h-indicator {
  position: absolute;
  display: inline-block;
  width: 0;
  border-right: 1px solid @primary-color;
}

.virtual-rate-table {
  th, td {
    white-space: nowrap;
    word-break: keep-all;
  }
}