.app-ex-collapsible-split-pane {
  > div {
    position: relative;
  }

  &__sider {
    width: 100%;
    padding: 0;
    overflow: auto;
    transition: all 0.3s ease-in-out;

    .ant-collapse.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-header {
      padding-right: 0;
      padding-left: 0;
    }

    .ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
      padding-top: 0;
      padding-right: 8px;
      padding-left: 8px;
    }

    &.left {
      padding-right: @app-ex-content-padding;

      > .app-ex-panel > .ant-card {
        > .ant-card-head {
          padding-right: 0;
        }

        > .ant-card-body {
          padding-right: 0;
        }
      }
    }

    &.right {
      padding-left: @app-ex-content-padding;

      > .app-ex-panel > .ant-card {
        > .ant-card-head {
          padding-left: 0;
        }

        > .ant-card-body {
          padding-left: 0;
        }
      }
    }

    &.inline {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__toggle {
    position: absolute;

    &.left {
      top: 27px;
      right: -11px;
      z-index: 1;
      width: 16px;
      min-width: 16px;
      height: 16px;
    }

    &.right {
      top: 27px;
      left: -11px;
      z-index: 1;
      width: 16px;
      min-width: 16px;
      height: 16px;
    }
  }

  &__content {
    width: 100%;
    padding: 0;

    &.left {
      padding-left: @app-ex-content-padding;

      > .app-ex-panel > .ant-card {
        > .ant-card-head {
          padding-left: 0;
        }
  
        > .ant-card-body {
          padding-left: 0;
        }
      }
  
      > .ant-spin-nested-loading > .ant-spin-container {
        > .app-ex-panel > .ant-card {
          > .ant-card-head {
            padding-left: 0;
          }
  
          > .ant-card-body {
            padding-left: 0;
          }
        }
      }
    }

    &.right {
      padding-right: @app-ex-content-padding;

      > .app-ex-panel > .ant-card {
        > .ant-card-head {
          padding-right: 0;
        }
  
        > .ant-card-body {
          padding-right: 0;
        }
      }
  
      > .ant-spin-nested-loading > .ant-spin-container {
        > .app-ex-panel > .ant-card {
          > .ant-card-head {
            padding-right: 0;
          }
  
          > .ant-card-body {
            padding-right: 0;
          }
        }
      }
    }
  }
}
