.app-ex-empty {
  &.droppable {
    background: @background-color-light;
    border: @border-width-base dashed @border-color-base;
  }

  &.dragging {
    border-color: @primary-7;
  }

  .ant-empty-image  {
    height: 100px;

    svg {
      width: 100px;
    }
  }

  &.sm {
    .ant-empty-image  {
      height: 36px;
  
      svg {
        width: 36px;
      }
    }
  }

  &.xs {
    .ant-empty-image  {
      height: 24px;
  
      svg {
        width: 24px;
      }
    }
  }

}
