.app-ex-empty {
  background: @background-color-light;
  border: @border-width-base dashed @border-color-base;

  &.dragging {
    border-color: @primary-7;
  }

  .ant-empty-image  {
    height: 100px;

    svg {
      width: 100px;
    }
  }

  &.sm {
    .ant-empty-image  {
      height: 40px;
  
      svg {
        width: 40px;
      }
    }
  }

}
