.app-ex-error-page {
  width: 100%;
  max-width: 767px;
  padding: 16px;
  line-height: 1.4;
  text-align: center;

  h1 {
    margin-bottom: 24px;
    color: transparent;
    font-size: 186px;
    background: linear-gradient(130deg, @primary-2, @primary-8);
    background-clip: text;
  }

  h2 {
    margin-bottom: 24px;
    font-size: 32px;
    letter-spacing: 3px;
  }

  p {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 16px;
  }
}
