.app-ex-layout-error-page {
  position: relative;

  &--wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
  }

  &--header {
    flex: none;
    height: @app-ex-header-height;
  }

  &--header-content {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: @zindex-image + 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: @app-ex-header-height;
    padding-right: @app-ex-layout-h-padding;
    padding-left: @app-ex-layout-h-padding;
    background: @popover-background;
    box-shadow: @shadow-1-down;
    .background-transition();
  }

  &--header-brand {
    img {
      position: relative;
      max-width: 170px;
    }
  }

  &--body {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
    background-color: @layout-body-background;
    .background-transition();
  }

  &--footer {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-end;
    height: @app-ex-footer-height;
    padding-right: @app-ex-layout-h-padding;
    padding-left: @app-ex-layout-h-padding;
    color: @text-color;
    font-size: @font-size-lg;
    background-color: @layout-body-background;
    .background-transition();
  }

  .route-link {
    font-size: @font-size-lg;
    text-decoration: underline;
  }
}
