.app-ex-layout-main {
  position: relative;

  &--wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
  }

  &--header {
    flex: none;
    height: @app-ex-header-height;

    .app-ex-system-menu {
      font-weight: 500;
      font-size: @font-size-lg;
      line-height: @app-ex-header-height;
      border-bottom: none;
    }
  }

  &--header-content {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    height: @app-ex-header-height;
    padding-right: @app-ex-layout-h-padding;
    padding-left: @app-ex-layout-h-padding;
    background: @popover-background;
    box-shadow: @shadow-1-down;
    .background-transition();
  }

  &--header-brand {
    flex: none;
    padding-right: 6px;

    img {
      position: relative;
      top: 6px;
      max-width: 100px;
    }
  }

  &--header-menu {
    flex: auto;
  }

  &--header-extra {
    flex: none;
  }

  &--body {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 0 @app-ex-layout-h-padding;
    background-color: @layout-body-background;
    .background-transition();
  }

  &--content {
    flex: auto;
    background: @component-background;
    .background-transition();
  }

  &--footer {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: flex-end;
    height: @app-ex-footer-height;
    padding-right: @app-ex-layout-h-padding;
    padding-left: @app-ex-layout-h-padding;
    color: @text-color;
    font-size: @font-size-lg;
    background-color: @layout-body-background;
    .background-transition();
  }
}

@media (min-width: 768px) {
  .app-ex-layout-main--header-brand {
    img {
      max-width: 100px;
    }
  }
}

.app-ex-system-sub-menu {
  .ant-menu-submenu,
  .ant-menu-item {
    height: ceil((@font-size-lg / 12) * 32px);
    font-weight: 500;
    font-size: @font-size-lg;
    line-height: ceil((@font-size-lg / 12) * 32px);
  }
}

.app-ex-user-action-content {
  min-width: 140px;

  .ant-card-grid {
    width: 100%;
  }
}

.app-ex-user-action-grid {
  box-shadow: 0 1px 0 0 @border-color-split;
}

.app-ex-theme-switch {
  margin-right: 8px;

  .ant-switch-inner {
    padding-top: 2px;
  }
}

.app-ex-breadcrumb {
  display: flex;
  align-items: center;
  height: @app-ex-bc-height;
}
