.app-ex-layout-main {
  position: relative;
  &--wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
  }
  &--header {
    flex: none;
    height: 60px;
  }
  &--header-content {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
    background: rgb(255, 255, 255);
    z-index: 2;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 3px;
  }
  & when (@theme = dark) {
    &--header-content {
      background: #141414;
    }
  }
  &--header-banner {
    flex: none;
    img {
      position: relative;
      top: 6px;
      max-width: 120px;
    }
  }
  &--header-menu {
    flex: auto;
  }
  &--header-extra {
    flex: none;
  }
  &--body {
    flex: auto;
    background-color: #f0f2f5;
  }
  & when (@theme = dark) {
    &--body {
      background-color: #000;
    }
  }
  
  &--footer {
    display: flex;
    flex: none;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: flex-end;
    align-items: center;
    height: 32px;
    background-color: #f0f2f5;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
  }
  & when (@theme = dark) {
    &--footer {
      background-color: #000;
      color: rgba(255, 255, 255, 0.85);
    }
  }
}

@media (min-width: 768px) {
  .app-ex-layout-main--header-banner {
    img {
      max-width: 100px;
    }
  }
}