.app-ex-layout-main {
  position: relative;
  &--wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
  }
  &--header {
    flex: none;
    height: 60px;
    .app-ex-system-menu {
      line-height: 60px;
      border-bottom: none;
      font-size: @font-size-lg;
      font-weight: 500;
    }
  }
  &--header-content {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: @app-ex-layout-h-padding;
    padding-right: @app-ex-layout-h-padding;
    background: @component-background;
    z-index: 2;
    box-shadow: @shadow-1-down;
  }
  &--header-brand {
    flex: none;
    padding-right: 6px;
    img {
      position: relative;
      top: 6px;
      max-width: 120px;
    }
  }
  &--header-menu {
    flex: auto;
  }
  &--header-extra {
    flex: none;
  }
  &--body {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: @layout-body-background;
    padding: 0 @app-ex-layout-h-padding;
  }

  &--content {
    flex: auto;
    background: @component-background;
  }

  &--footer {
    display: flex;
    flex: none;
    padding-left: @app-ex-layout-h-padding;
    padding-right: @app-ex-layout-h-padding;
    justify-content: flex-end;
    align-items: center;
    height: 32px;
    background-color: @layout-body-background;
    color: @text-color;
    font-size: @font-size-lg;
  }
}

@media (min-width: 768px) {
  .app-ex-layout-main--header-brand {
    img {
      max-width: 100px;
    }
  }
}

.app-ex-system-sub-menu .ant-menu-item {
  font-size: @font-size-lg;
  font-weight: 500;
  height: 38px;
  line-height: 38px;
}

.app-ex-user-action-content {
  .ant-card-grid {
    width: 100%;
  }
}
.app-ex-user-action-grid {
  box-shadow:  0 1px 0 0 @border-color-split;
}

.app-ex-theme-switch {
  margin-right: 8px;
  .ant-switch-inner {
    padding-top: 2px;
  }
}