.app-ex-min-content-h {
  min-height: @app-ex-content-min-height;
}

.nowrap-table,
.table-nowrap {
  th,
  td {
    white-space: nowrap;
    word-break: keep-all;
  }
}

.table-action {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
