.ant-collapse-ghost > .ant-collapse-item.collapse-panel-pt-0 > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0;
}

body .ant-notification {
  z-index: @zindex-image + 2;
}

.text-secondary {
  color: @text-color-secondary;
}

.text-small {
  font-size: @font-size-base - 2px;
}

.text-active {
  color: green;
}